
header {
	position: relative;
}

h1 {
	text-align: center;
}

#formEventId {
	margin-top: 50px;
	padding-top: 20px;
}

input[type=radio] + label {
  color: #000000;
  font-style: italic;
}


input[type=radio]:checked + label {
  color: #FF0000;
  font-style: normal;
} 
