a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #A6E22E;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}


/* TEST OFF */
body > .container{
	padding-top:60px;
  width: 100%;
  margin: 0;
}


html {
  position: relative;
  min-height: 100%;
}
/* END OF TEST OFF */

body {
  font: 16px sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  position: relative;
  /*overflow: hidden;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* TEST OFF */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/* END OF TEST OFF */

code {
  font-size: 80%;
}
.row {
  margin: 0;
}


/* ====================
    Carte
   ==================== */

/*
  100% du viewport
  pour la carte en plein écran
*/
html, #mapOk {
  width: 100vw;
  height: 100vh;
}

/* Position carte : arrière plan */
section>#mapOk {
  position: absolute;
  z-index: -10;
}

/*Infobulle*/

.infobulle > h3{
  font-size : 1.2rem;
  color: deeppink;
}
.infobulle > h4{
  font-size : 1.1rem;
}
.Event{
  margin: 0;
}



/* ====================
    Infos & menus page
   ==================== */

/* Position menus : premier plan */
footer {
  position: absolute;
  z-index: 10;
}

.ourMenu{
  width: 100%;
  clear: both;
  position: fixed;
  background: rgba(0,0,0,0);
  border: none;
}

.btn-menu{
    box-shadow: 3px 4px 5px #888888;
}

/* ==========================
   Style Form Ajout Evenement
   ========================== */

h1 {
  text-align: center;
  margin-top: 0.15em;
}


#formEventId{
  margin: 0 auto;
  width: 90%;

  margin-top: 50px;
  padding-top: 20px;

  width: 80%;
}

#triCategorieId {
  text-align: center;


}

.focused {
  background-color: #0277BD;
  border-radius: 5px;
}

input[type=radio]:checked + span {
  color: #fff;
  font-style: normal;
}

input[type=radio]:checked + span + label {
  /*color: #FF0000;*/
  color: #fff;
  font-style: normal;
}


.radio-inline{
  padding: 0em;
  padding-left: 0.5em;
}

label{
  font-size: 0.8em;
}


/* classe de sélection d'une catégorie
 lors de l'ajout d'événement */

.focused{
  background: #0277BD;
  border-radius: 5px;
  /*padding-left: 0.5em;*/

}

#rangeCategId{
  margin-bottom: 4em;
}

/* bouton "Plus d'options" */
#btnOptId{
  margin-right: 0.5em;
}

.col-xs-4{
  padding: 0;
}

.row{
  margin-bottom: 0.75em;
}

.pack{
  /*text-align: center;*/
  line-height: 1.5em;
  /*width: 60%;*/
  padding-left: 30%;
  margin: 0 auto;
}

.glyphicon{
  /*padding-top: 0.5em;*/
  line-height: 1.5em;
}

/* Gestion des sous-catégories */
#rangeSubCategId{
  display: none;
}

