a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #A6E22E;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}


/* TEST OFF */
body > .container{
	padding-top:60px;
  width: 100%;
  margin: 0;
}

#formEventId{
  margin: 0 auto;
  width: 80%;
}

.col-xs-4{
  padding-left: 5em;
}

html {
  position: relative;
  min-height: 100%;
}
/* END OF TEST OFF */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* TEST OFF */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/* END OF TEST OFF */

code {
  font-size: 80%;
}
.row {
  margin: 0;
}


/* ====================
    Carte
   ==================== */

/*
  100% du viewport
  pour la carte en plein écran
*/
html, #mapOk {
  width: 100vw;
  height: 100vh;
}

/* Position carte : arrière plan */
section>#mapOk {
  position: absolute;
  z-index: -10;
}

/*Infobulle*/

.infobulle > h3{
  font-size : 1.2rem;
  color: deeppink;
}
.infobulle > h4{
  font-size : 1.1rem;
}

/* ====================
    Infos & menus page
   ==================== */

/* Pré-requis de position */
body {
  position: relative;
}

/* Position menus : premier plan */
footer {
  position: absolute;
  z-index: 10;
}

/* ==========================
   Style Form Ajout Evenement
   ========================== */

h1 {
  text-align: center;
}

#formEventId {
  margin-top: 50px;
  padding-top: 20px;
}

input[type=radio] + label {
  color: #000000;
  font-style: italic;
}


input[type=radio]:checked + span {
  /*color: #FF0000;*/
  color: #fff;
  font-style: normal;
}

input[type=radio]:checked + span + label {
  /*color: #FF0000;*/
  color: #fff;
  font-style: normal;
}


.focused{
  margin-top: 0.2em;
  background: #0277BD;
  border-radius: 5px;
  padding-left: 0.5em;
  width: 55%;
}
