html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #ccc;
	/*color: #F8F8F2;*/
	color: #000;
	font: 16px sans-serif;

}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}